header {
	width: 100%;
	height: 150px;
	background-color: #34495e;
	position: absolute;
}



header .header-black {
	background-color: black;
	height: 40px;
}

#logotipo{
	width: 20%;
    position: relative;
    bottom: 7px;
}

.container .row ,pull-right{
	position: relative;
	bottom: 133px;
}

.container .row ul li{
	list-style: none;
	display: inline-flex;
	padding: 50px;
	
}

.container .row ul li:hover{
    background: black;	
    border-radius: 5px;

}

.container .row ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.container .dropdown{
	position: relative;
	top: 180px;
	left: 88px;
}

#dropdownMenu1{
    background: white;
    border: none;
    color: #e90052;
    padding-top: 8px;
    padding-bottom: 11px;
}

.league-drop li a:hover{
    color: #e90052;
}

/*
p {
	font-family: 'Bree Serif', serif;
}


.container .row-select{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ln1 {

   display: flex;
   justify-content: center;
	align-items: center;
}

.ln1 p{
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 130px;
	right: 225px;

}

.select-inline{
	position: relative;
	top: 230px;
	left: 120px;
}

.select-inline ul{
	list-style: none;
	display: inline-flex;
}

.select-inline ul li{
	margin: 10px;
}

  .button-select{
  	color: white;
	background: #27ae60;
	border: none;
	border-radius: 5px;
	padding-left: 32px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 28px;
}

.button-submit{
	color: white;
	background: #2980b9;
	border: none;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 12px;
	padding-right: 10px;
}

.row .button-submit .material-icons{
	position: relative;
	top: 9px;
	left: 5px;
}*/

